.bizcard {
  color: white;
  background-color: black !important;
  .info-top {
    background-color: dodgerblue;
    height: 200px;
  }
  .info-bottom {
    margin-top: 0;
  }
}
.dialog-content-bizcard {
  width: 500px;
}
